<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/simplejava/SimpleJava"
			class = "org.xtext.simplejava.simpleJava.SimpleJavaPackage"
			genModel = "model/generated/SimpleJava.genmodel" />
	</extension>
</plugin>
