<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JavaExchange -->
      <package
            uri="platform:/resource/JavaExchange/model/JavaExchange.ecore"
            class="JavaExchange.JavaExchangePackage"
            genModel="model/JavaExchange.genmodel"/>
   </extension>

</plugin>
